#headerP {
	font-size: 30px;
	padding: 25px;
	letter-spacing: 5px;
	font-family: 'Bebas';
	line-height: 30px;
}


@media only screen and (max-height: 800px)
	#home-center {
		margin-top: 170px;
	}

.repertoireP {
	color: rgba(115, 90, 58, 0.85);
	margin-bottom: 20px;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
	width: 496px;
}

.section-title2 {
		margin-top: px !important;
		text-align:center;
		margin: 0 auto;
		margin-bottom:55px;
	}

.toggle-title2 a {
	color: rgba(115, 90, 58, 0.85);
}

.toggle-title2 {
		background: rgba(229, 216, 199, 0.61);
		cursor: pointer;
		padding: 10px;
		border-radius: 3px;
		margin-bottom: 5px;
		display: block;
		font-size:13px;
	}

.toggle-title2 a {
		color: #666;
		text-decoration: none;
	}

.toggle-title2 a:hover {
		color:#222222;
	}

.toggle2-active {
		color:#fff;
		background: #222222;
	}
	
	.toggle2-active a {
		color:#FFF;
	}
	
	.toggle2-active a:hover {
		color:#FFF;
	}

.one_third h3 {text-align: center; font-size: 29px; letter-spacing: 0px; margin-top: -21px; margin-bottom: 9px;}

#downCaret {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}

.footer2 {background-color: transparent; padding: 0;}
blockquote p {opacity: 1 !important;}
blockquote footer {color: #fff; opacity: 1 !important;}

video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto !important;
  height: auto;
  z-index: -100;
 background: url('images/mobilebkgrnd.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width: 500px) { 
  h2 {font-size: 14px; letter-spacing: 1px !important; line-height: 20px;}
  blockquote p {font-size: 14px !important;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//images/mobilebkgrnd.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}